---
http_interactions:
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 2d176b4d-6a66-cd5d-6309-11e433cdaad5
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904ca-0579b0a9248fd30324af65af
      Akamai-Grn:
      - 0.ee382f17.1739130058.a609c0f
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"64e99541-a205-ae6a-34da-176aec12a0ba"}'
  recorded_at: Sun, 09 Feb 2025 19:40:58 GMT
recorded_with: VCR 6.3.1
