---
http_interactions:
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - a5cd3305-71d1-9ad1-1c66-ae095692adf4
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a912d2-473533dd25fce00b6e4f3006
      Akamai-Grn:
      - 0.7129c817.1739133650.2f384fac
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"0cfae8e4-5926-1450-0313-e52b3cdf6d66"}'
  recorded_at: Sun, 09 Feb 2025 20:40:50 GMT
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2
    body:
      encoding: UTF-8
      string: '{"id":"2","title":"Product #1 - 9489 Size: S","sku":"SKU-1","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-1-9489"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 4bfda2ef-15fd-6aea-203a-f2787bd889ea
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a912d3-6051e61b75e9e5460a35469c
      Akamai-Grn:
      - 0.7129c817.1739133651.2f385a56
    body:
      encoding: UTF-8
      string: '{"title":"Parent Product Does Not Exist","status":400,"detail":"The
        parent product must already exist in order to use PUT on the Variants endpoint.","instance":"900cb935-600e-5f39-bc7c-b8c5c5aff098"}'
  recorded_at: Sun, 09 Feb 2025 20:40:51 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products
    body:
      encoding: UTF-8
      string: '{"id":"1","handle":"product-1-9489","title":"Product #1 - 9489","description":"As
        seen on TV!","variants":[{"id":"2","title":"Product #1 - 9489 Size: S","sku":"SKU-1","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-1-9489"}],"url":"http://www.example.com/products/product-1-9489","published_at_foreign":"2024-02-09T20:40:49Z"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 935d2499-3f52-c52d-b4c9-d1701fe51e0c
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a912d3-3dba9b4864bd3d5b341888d0
      Akamai-Grn:
      - 0.7129c817.1739133651.2f385f72
    body:
      encoding: UTF-8
      string: '{"id":"1","currency_code":"USD","title":"Product #1 - 9489","handle":"product-1-9489","url":"http://www.example.com/products/product-1-9489","description":"As
        seen on TV!","type":"","vendor":"","image_url":"","variants":[{"id":"2","title":"Product
        #1 - 9489 Size: S","url":"http://www.example.com/products/product-1-9489","sku":"SKU-1","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"true","created_at":"2025-02-09T20:40:51+00:00","updated_at":"2025-02-09T20:40:51+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/CollectionResponse.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PATCH.json"},{"rel":"upsert","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"PUT","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PUT.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"DELETE"}]}],"images":[],"published_at_foreign":"2024-02-09T20:40:49+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/CollectionResponse.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/PATCH.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"DELETE"},{"rel":"variants","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/CollectionResponse.json"}]}'
  recorded_at: Sun, 09 Feb 2025 20:40:51 GMT
[...]
