---
http_interactions:
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"Product #14 - 5101","sku":"SKU-18","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-14-5101"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - ae5ab5fe-f6f6-d54a-781f-c4b29741235c
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904b0-5f841644001f7bb04fd71068
      Akamai-Grn:
      - 0.d23a2f17.1739130032.4bf817b8
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"Product #14 - 5101","url":"http://www.example.com/products/product-14-5101","sku":"SKU-18","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"true","created_at":"2025-02-09T19:37:41+00:00","updated_at":"2025-02-09T19:40:32+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/CollectionResponse.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PATCH.json"},{"rel":"upsert","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PUT","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PUT.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"DELETE"}]}'
  recorded_at: Sun, 09 Feb 2025 19:40:32 GMT
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/orders/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - b1041e61-9266-53e8-b734-890c1e365b9d
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904b0-742d8bb30c4c73e513b3f8e2
      Akamai-Grn:
      - 0.d23a2f17.1739130032.4bf81c5a
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"36aa35bf-34bf-4049-2a33-25a32487e72c"}'
  recorded_at: Sun, 09 Feb 2025 19:40:33 GMT
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org
    body:
      encoding: UTF-8
      string: '{"id":"1-test-order-synchronizer-at-friendsoftheweb.org","email_address":"test-order-synchronizer@friendsoftheweb.org","opt_in_status":false}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 8157484a-973b-4995-3c75-ca8c771b0d5d
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Customers/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904b1-640e760974cd600b04df368c
      Akamai-Grn:
      - 0.d23a2f17.1739130033.4bf82348
    body:
      encoding: UTF-8
      string: '{"id":"1-test-order-synchronizer-at-friendsoftheweb.org","email_address":"test-order-synchronizer@friendsoftheweb.org","sms_phone_number":"","opt_in_status":false,"company":"","first_name":"","last_name":"","orders_count":0,"total_spent":0,"address":{"address1":"","address2":"","city":"","province":"","province_code":"","postal_code":"","country":"","country_code":""},"created_at":"2025-02-09T19:40:29+00:00","updated_at":"2025-02-09T19:40:29+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Customers/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers","method":"GET","targetSchema[...]
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/carts/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 98e598ab-2466-ad1b-e73a-34ee87489a6f
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904b2-1c5b1a19532968746ea07c6a
      Akamai-Grn:
      - 0.d23a2f17.1739130034.4bf82824
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"c3759d50-7965-6ede-2dc8-333a8da84011"}'
  recorded_at: Sun, 09 Feb 2025 19:40:34 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/orders
    body:
      encoding: UTF-8
      string: '{"id":"1","customer":{"id":"1-test-order-synchronizer-at-friendsoftheweb.org"},"currency_code":"USD","order_total":25.0,"tax_total":0.0,"lines":[{"id":"1","product_id":"1","product_variant_id":"1","quantity":1,"price":10.0}],"processed_at_foreign":"2016-05-05T05:10:10Z","shipping_total":"15.0"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 513b25e9-18c3-fa8f-b9b0-93d015831614
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Orders/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904b2-59e0f[...]
[...]
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 5ec6ba77-5946-42c2-c66a-4855df488764
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a90693-3cc2f62562216e504a0db0aa
      Akamai-Grn:
      - 0.ee382f17.1739130515.a6757dc
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"fb086711-931a-c846-7f99-40b3e15c4d53"}'
  recorded_at: Sun, 09 Feb 2025 19:48:35 GMT
recorded_with: VCR 6.3.1
