---
http_interactions:
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"Product #13 - 7164","sku":"SKU-17","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-13-7164"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - cff0c8a7-cceb-e17e-6d0a-4d8db7ac7045
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904ab-461acf9b53b3819070d6e81b
      Akamai-Grn:
      - 0.d23a2f17.1739130027.4bf7eacb
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"Product #13 - 7164","url":"http://www.example.com/products/product-13-7164","sku":"SKU-17","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"true","created_at":"2025-02-09T19:37:41+00:00","updated_at":"2025-02-09T19:40:27+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/CollectionResponse.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PATCH.json"},{"rel":"upsert","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PUT","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PUT.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"DELETE"}]}'
  recorded_at: Sun, 09 Feb 2025 19:40:27 GMT
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 5d67f25c-8b83-40bc-e75a-eaaf897a413b
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904ac-226185923611e2bc7e873c56
      Akamai-Grn:
      - 0.d23a2f17.1739130028.4bf7f00b
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"f98cdb11-e9d5-d452-31b6-4cbe5c6877c1"}'
  recorded_at: Sun, 09 Feb 2025 19:40:28 GMT
[...]
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org
    body:
      encoding: UTF-8
      string: '{"id":"1-test-order-synchronizer-at-friendsoftheweb.org","email_address":"test-order-synchronizer@friendsoftheweb.org","opt_in_status":false}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 6c5ae80f-299d-1206-7b51-4fc37a09fc1b
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Customers/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904ad-1b671d5114fb063d32bc870a
      Akamai-Grn:
      - 0.d23a2f17.1739130029.4bf7fa1e
    body:
      encoding: UTF-8
      string: '{"id":"1-test-order-synchronizer-at-friendsoftheweb.org","email_address":"test-order-synchronizer@friendsoftheweb.org","sms_phone_number":"","opt_in_status":false,"company":"","first_name":"","last_name":"","orders_count":0,"total_spent":0,"address":{"address1":"","address2":"","city":"","province":"","province_code":"","postal_code":"","country":"","country_code":""},"created_at":"2025-02-09T19:40:29+00:00","updated_at":"2025-02-09T19:40:29+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Customers/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers","method":"GET","targetSchema[...]
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/carts
    body:
      encoding: UTF-8
      string: '{"id":"1","customer":{"id":"1-test-order-synchronizer-at-friendsoftheweb.org"},"currency_code":"USD","order_total":110.0,"tax_total":0.0,"lines":[{"id":"1","product_id":"1","product_variant_id":"1","quantity":1,"price":10.0}],"checkout_url":"http://www.example.com/cart"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - cbcad695-8944-11a2-ba01-beb0896b9c5b
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Carts/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
  [...]
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/carts/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 527292f4-ba18-0ab1-d94e-fc03dd16e232
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Store[...]
[...]
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/orders/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - b1dcd17c-3c9b-9291-4ce4-ebc1b0f8a7ef
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a90691-70aa8ec75566588a214328e4
      Akamai-Grn:
      - 0.ee382f17.1739130513.a675031
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"d70e4f60-029d-fc55-f233-120b326d718a"}'
  recorded_at: Sun, 09 Feb 2025 19:48:33 GMT
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - d48727ba-5e60-3916-1ef8-2eb4620d00c9
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a90692-6c3d338a0c61946e084baf53
      Akamai-Grn:
      - 0.ee382f17.1739130513.a675204
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"715ed905-626d-a37f-1a7d-30f0a973b5c3"}'
  recorded_at: Sun, 09 Feb 2025 19:48:34 GMT
recorded_with: VCR 6.3.1
