---
http_interactions:
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"Product #12 - 7695","sku":"SKU-16","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-12-7695"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - a53d1ba7-bc87-c782-ae03-8793ed672459
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904a0-374ec76f6e3bab984b24d5b5
      Akamai-Grn:
      - 0.ee382f17.1739130016.a5ffe48
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"Product #12 - 7695","url":"http://www.example.com/products/product-12-7695","sku":"SKU-16","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"true","created_at":"2025-02-09T19:37:41+00:00","updated_at":"2025-02-09T19:40:16+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/CollectionResponse.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PATCH.json"},{"rel":"upsert","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"PUT","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PUT.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/1","method":"DELETE"}]}'
  recorded_at: Sun, 09 Feb 2025 19:40:16 GMT
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org
    body:
      encoding: UTF-8
      string: '{"id":"1-test-order-synchronizer-at-friendsoftheweb.org","email_address":"test-order-synchronizer@friendsoftheweb.org","opt_in_status":false}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - 5bc81e83-e251-fd91-d200-922c73a84f3e
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Customers/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904a1-548f87b21c1ae49642fc9fe3
      Akamai-Grn:
      - 0.ee382f17.1739130017.a6001e6
    body:
      encoding: UTF-8
      string: '{"id":"1-test-order-synchronizer-at-friendsoftheweb.org","email_address":"test-order-synchronizer@friendsoftheweb.org","sms_phone_number":"","opt_in_status":false,"company":"","first_name":"","last_name":"","orders_count":0,"total_spent":0,"address":{"address1":"","address2":"","city":"","province":"","province_code":"","postal_code":"","country":"","country_code":""},"created_at":"2025-02-09T19:40:18+00:00","updated_at":"2025-02-09T19:40:18+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-test-order-synchronizer-at-friendsoftheweb.org","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Customers/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers","method":"GET","targetSchema[...]
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/carts
    body:
      encoding: UTF-8
      string: '{"id":"1","customer":{"id":"1-test-order-synchronizer-at-friendsoftheweb.org"},"currency_code":"USD","order_total":110.0,"tax_total":0.0,"lines":[{"id":"1","product_id":"1","product_variant_id":"1","quantity":1,"price":10.0}],"checkout_url":"http://www.example.com/cart"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - e9f6917f-7ddd-2a81-f5ea-6c572a5e17ba
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Carts/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
  [...]
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/carts/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - a73db020-3993-7a42-f491-2238ef132671
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Store[...]
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/orders/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 250f1ba1-0099-a1dd-1512-954d322faf5f
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a904a3-02efd8a54faa8eba301c2d55
      Akamai-Grn:
      - 0.ee382f17.1739130019.a60076e
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"c2d4c355-dcc9-0786-98f4-bc24c6e7398f"}'
  recorded_at: Sun, 09 Feb 2025 19:40:19 GMT
[...]
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/orders
    body:
      encoding: UTF-8
      string: '{"id":"1","customer":{"id":"1-test-order-synchronizer-at-friendsoftheweb.org"},"currency_code":"USD","order_total":110.0,"tax_total":0.0,"lines":[{"id":"1","product_id":"1","product_variant_id":"1","quantity":1,"price":10.0}],"processed_at_foreign":"2025-02-09T19:48:28Z","shipping_total":"100.0"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 30f34012-46c9-c7ce-e734-f81d5b61f426
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a9068d-4a4d8e1a6fd5948b6437c3b2
      Akamai-Grn:
      - 0.ee382f17.1739130509.a674083
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Invalid
        Resource","status":400,"detail":"The resource submitted could not be validated.
        For field-specific details, see the ''errors'' array.","instance":"97f94152-927b-d8da-d5e8-cdfa8c4cf738","errors":[{"field":"customer.email_address","message":"An
        email address is required to create a customer."},{"field":"customer.opt_in_status","message":"An
        opt-in status is required to create a customer."}]}'
  recorded_at: Sun, 09 Feb 2025 19:48:29 GMT
[...]
- request:
    method: put
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/customers/1-user-at-minimal.audio
    body:
      encoding: UTF-8
      string: '{"id":"1-user-at-minimal.audio","email_address":"user@minimal.audio","opt_in_status":false}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
   [...]
[...]
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products
    body:
      encoding: UTF-8
      string: '{"id":"1","currency_code":"USD","customer":{"id":"1","email_address":"user@minimal.audio","opt_in_status":false},"order_total":47248,"lines":[{"id":"1","product_id":"1","product_variant_id":"1","quantity":47277,"price":62623}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjo4MjI0YjE4MDk5MzI4NzM4MGUyNDU2NWNkY2MxM2E5Zi11czc=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 8b13f411-4a3c-821e-d5f2-b2b5e1962ef3
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a90e12-64b641a507907e5c2421c32e
      Akamai-Grn:
      - 0.d23a2f17.1739132434.4c4e4675
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Invalid
        Resource","status":400,"detail":"The resource submitted could not be validated.
        For field-specific details, see the ''errors'' array.","instance":"cb3918d9-2e7f-118d-3463-042c758600ea","errors":[{"field":"","message":"Required
        fields were not provided: title, variants"}]}'
  recorded_at: Sun, 09 Feb 2025 20:20:34 GMT
[...]
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/store_id/carts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjo4MjI0YjE4MDk5MzI4NzM4MGUyNDU2NWNkY2MxM2E5Zi11czc=
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 1608846a-e64f-f954-343e-df7e17bf1e0e
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a90ef7-5445f96650de1c1e28497cb4
      Akamai-Grn:
      - 0.d23a2f17.1739132662.4c5648d2
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"b68e83b0-a351-acc4-9594-40926533da30"}'
  recorded_at: Sun, 09 Feb 2025 20:24:23 GMT
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/carts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic dXNlcjo4MjI0YjE4MDk5MzI4NzM4MGUyNDU2NWNkY2MxM2E5Zi11czc=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - f9e11ff5-26db-2d37-196d-7127b48e0a33
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Carts/Collection.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a90f08-67c14e3379463df05e9a3223
      Akamai-Grn:
      - 0.d23a2f17.1739132680.4c56f32f
    body:
      encoding: ASCII-8BIT
      string: '{"store_id":"dummy-store-id","carts":[{"id":"1","customer":{"id":"1","email_address":"user@minimal.audio","sms_phone_number":"","opt_in_status":false,"company":"","first_name":"","last_name":"","orders_count":1,"total_spent":85503,"address":{"address1":"","address2":"","city":"","province":"","province_code":"","postal_code":"","country":"","country_code":""},"created_at":"2025-02-09T20:08:42+00:00","updated_at":"2025-02-09T20:08:42+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-stor[...]
[...]
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/carts/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - de1991af-6de4-42ea-63f6-c78b3770b126
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a910d7-417537d7508a9f527954bdf9
      Akamai-Grn:
      - 0.7129c817.1739133143.2f1ad160
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"249df429-3ba5-1cb8-142b-12107d265dbb"}'
  recorded_at: Sun, 09 Feb 2025 20:32:23 GMT
recorded_with: VCR 6.3.1
