---
http_interactions:
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 05 Aug 2016 16:05:10 GMT
- request:
    method: get
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":""}'
  recorded_at: Fri, 05 Aug 2016 16:05:10 GMT
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0//ecommerce/stores/dummy-store-id//products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 776f7f0b-85e1-919d-b01b-f071b19a8a0c
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-679eccc4-6a26abc21f41277a181e4af4
      Akamai-Grn:
      - 0.c8784017.1738460356.2ec1e96
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Forbidden","status":403,"detail":"The
        API key provided is linked to datacenter ''api''","instance":"34914a39-ed3e-a4d7-0964-b69ef0df93ea"}'
  recorded_at: Sun, 02 Feb 2025 01:39:16 GMT
recorded_with: VCR 6.3.1
