---
http_interactions:
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":""}'
  recorded_at: Fri, 05 Aug 2016 16:05:11 GMT
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0//ecommerce/stores/dummy-store-id//products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 77b47521-3bd1-bb4a-0f04-af77d6933f7d
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-679eccc4-221a0b7040c67a373963ed5f
      Akamai-Grn:
      - 0.c8784017.1738460356.2ec1dd6
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Forbidden","status":403,"detail":"The
        API key provided is linked to datacenter ''api''","instance":"c56212ea-af95-c2d4-830f-4a7a7f2aec60"}'
  recorded_at: Sun, 02 Feb 2025 01:39:16 GMT
recorded_with: VCR 6.3.1
