---
http_interactions:
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - f17690fc-297e-2d42-cd08-38c8c9b50412
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a9125e-675f8c8b76983182038a2210
      Akamai-Grn:
      - 0.7129c817.1739133534.2f31f26c
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"ceef34e2-e68e-edfc-5c89-fde43f35bda2"}'
  recorded_at: Sun, 09 Feb 2025 20:38:55 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products
    body:
      encoding: UTF-8
      string: '{"id":"1","handle":"product-name","title":"PRODUCT NAME","description":"As
        seen on TV!","variants":[{"id":"2","title":"PRODUCT NAME Size: S","sku":"PROD_SYNC_SKU_0","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-name"},{"id":"3","title":"PRODUCT
        NAME Size: S","sku":"PROD_SYNC_SKU_1","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-name"}],"url":"http://www.example.com/products/product-name","published_at_foreign":"2024-02-09T20:38:54Z"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Spanid:
      - '018af6d3-79e8-272f-673f-aba54a2e7648'
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-67a9125f-436635a831d54c0b1358f435
      Akamai-Grn:
      - 0.7129c817.1739133535.2f31f8ba
    body:
      encoding: UTF-8
      string: '{"id":"1","currency_code":"USD","title":"PRODUCT NAME","handle":"product-name","url":"http://www.example.com/products/product-name","description":"As
        seen on TV!","type":"","vendor":"","image_url":"","variants":[{"id":"2","title":"PRODUCT
        NAME Size: S","url":"http://www.example.com/products/product-name","sku":"PROD_SYNC_SKU_0","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"true","created_at":"2025-02-09T20:38:55+00:00","updated_at":"2025-02-09T20:38:55+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/CollectionResponse.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"PATCH","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PATCH.json"},{"rel":"upsert","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"PUT","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/Response.json","schema":"https://us1.api.mailchimp.com/schema/3.0/Definitions/Ecommerce/Stores/Products/Variants/PUT.json"},{"rel":"delete","href":"https://us1.api.ma[...]
