---
http_interactions:
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":""}'
  recorded_at: Fri, 05 Aug 2016 16:05:11 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products
    body:
      encoding: UTF-8
      string: '{"id":"1","handle":"product-name","title":"PRODUCT NAME","description":"As
        seen on TV!","variants":[{"id":"2","title":"PRODUCT NAME Size: S","sku":"PROD_SYNC_SKU_0","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-name"},{"id":"3","title":"PRODUCT
        NAME Size: S","sku":"PROD_SYNC_SKU_1","price":19.99,"visibility":"true","url":"http://www.example.com/products/product-name"}],"url":"http://www.example.com/products/product-name","published_at_foreign":"2015-08-05T16:05:11Z"}'
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Instance.json>;
        rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"id":"1","title":"PRODUCT NAME","handle":"product-name","url":"http://www.example.com/products/product-name","description":"As
        seen on TV!","type":"","vendor":"","image_url":"","variants":[{"id":"2","title":"PRODUCT
        NAME Size: S","url":"http://www.example.com/products/product-name","sku":"PROD_SYNC_SKU_0","price":19.99,"inventory_quantity":0,"image_url":"","backorders":"","visibility":"true","created_at":"2016-08-05T16:05:11+00:00","updated_at":"2016-08-05T16:05:11+00:00","_links":[{"rel":"self","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"parent","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1","method":"GET","targetSchema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Collection.json"},{"rel":"update","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"PATCH","schema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"upsert","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"PUT","schema":"https://us1.api.mailchimp.com/schema/3.0/Ecommerce/Stores/Products/Variants/Instance.json"},{"rel":"delete","href":"https://us1.api.mailchimp.com/3.0/ecommerce/stores/dummy-store-id/products/1/variants/2","method":"DELETE"}]},{"id":"3","title":"PRODUCT
        NAME Siz[...]
- request:
    method: delete
    uri: https://us1.api.mailchimp.com/3.0//ecommerce/stores/dummy-store-id//products/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <OMITTED AUTH HEADER>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Spanid:
      - 5c809351-39a4-e5b6-97c6-6d1a57639dfc
      Link:
      - <https://us1.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
      Intuit-Tid:
      - 1-679eccc3-00473ef043e56ea40afc7285
      Akamai-Grn:
      - 0.c8784017.1738460355.2ec1c4b
    body:
      encoding: UTF-8
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Forbidden","status":403,"detail":"The
        API key provided is linked to datacenter ''api''","instance":"298e81cd-ee38-d279-5f07-d074f351a5f8"}'
  recorded_at: Sun, 02 Feb 2025 01:39:15 GMT
recorded_with: VCR 6.3.1
